.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

.idea/

# I symlink content/ to my vault and control publication with frontmatter
content
