@use "./base.scss";

// put your custom CSS here!
@font-face {
    font-family: "EBGaramond12-Regular";
    src: url("static/fonts/EBGaramond/EBGaramond12-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "EBGaramond08-Regular";
    src: url("static/fonts/EBGaramond/EBGaramond08-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "EBGaramond12-Italic.woff2";
    src: url("static/fonts/EBGaramond/EBGaramond12-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "EBGGaramond08-Italic";
    src: url("static/fonts/EBGaramond/EBGaramond08-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "EBGaramond-InitialsF1";
    src: url("static/fonts/EBGaramond/EBGaramond-InitialsF1.woff2") format("woff2");
}

@font-face {
    font-family: "EBGaramond-InitialsF2";
    src: url("static/fonts/EBGaramond/EBGaramond-InitialsF2.woff2") format("woff2");
}

@font-face {
    font-family: "FiraCode-Regular";
    src: url("static/fonts/FiraCode/FiraCode-Regular.woff2") format("woff2");
}

:root {
    --drop-cap-color: var(--gray);
    --drop-cap-font-size: 2.95em;
}

body,
section {
    font-feature-settings: "liga", "xtex";
}

article {
    position: relative;

    p {
        line-height: 1.3;
        margin: 0;
        text-align: justify;
        text-indent: 1em;

        &:first-of-type {
            text-indent: 0;

            &::before {
                content: attr(data-first-letter);
                color: var(--drop-cap-color);
                font-family: "EBGaramond-InitialsF1";
                font-size: var(--drop-cap-font-size);
                left: 0;
                opacity: 0.5;
                position: absolute;
                text-indent: 0;
                text-transform: uppercase;
            }

            &::first-letter {
                float: left;
                font-family: "EBGaramond-InitialsF2";
                font-size: var(--drop-cap-font-size);
                padding-right: 0.1em;
                text-indent: 0;
                text-transform: uppercase;
            }

            &::first-line {
                font-variant: small-caps;
                letter-spacing: 0.05em;
                text-indent: 0;
            }
        }
    }
}

pre {
    > code {
        font-size: 0.75rem;
        line-height: 1.3;
        tab-size: 4;
    }
}
